* {
    box-sizing: border-box;
}

@font-face {
    font-family: Playfair;
    src: url(/fonts/PlayfairDisplay-Regular.ttf)
}

p,
li,
h2,
a {
    font-family: Playfair;
}

.menu {
    text-align: center;
    padding-top: 20px;
}

.menu li {
    padding: 50px;
    text-transform: uppercase;
}

.menu-item {
    display: inline-block;
}

a {
    text-decoration: none;
}

a:active {
    color: lightskyblue;
}

.menu-item:hover {
    background-color: grey;
}

section {
    margin: 50px 150px 50px 150px;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.article {
    padding: 30px;
    display: inline-block;
    width: 50%;
    margin-right: -4px;
}

.article img {
    width: 100%;
}


.load-more {
    text-align: center;
    margin-bottom: 70px;
}

.button1 {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 164px;
    height: 60px;
    border: 1px solid black;
    padding: 20px 10px;
}

.button1:hover {
    color: blue;
    background-color: #FFFFFF;
}