* {
    box-sizing: border-box;
}

@font-face {
    font-family: Playfair;
    src: url(/fonts/PlayfairDisplay-Regular.ttf)
}

p,
li,
h2 {
    font-family: Playfair;
}

.menu {
    text-align: center;
    padding-top: 20px;
}

.menu li {
    padding: 50px;
    text-transform: uppercase;
}

.menu-item {
    display: inline-block;
}

a {
    text-decoration: none;
    }

.menu-item:hover {
    background-color: grey;
}

section {
    margin: 50px 150px 50px 150px;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.article {
    padding: 30px;
    display: inline-block;
    width: 50%;
    margin-right: -4px;
}

.article img {
    width: 100%;
}