@font-face {
  font-family: 'Mont';
  src: url(../fonts/montserrat-v13-latin/montserrat-v13-latin-regular.eot),
    url(../fonts/montserrat-v13-latin/montserrat-v13-latin-regular.svg),
    url(../fonts/montserrat-v13-latin/montserrat-v13-latin-regular.ttf),
    url(../fonts/montserrat-v13-latin/montserrat-v13-latin-regular.woff),
    url(../fonts/montserrat-v13-latin/montserrat-v13-latin-regular.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url(../fonts/montserrat-v13-latin/montserrat-v13-latin-700.eot),
    url(../fonts/montserrat-v13-latin/montserrat-v13-latin-700.svg),
    url(../fonts/montserrat-v13-latin/montserrat-v13-latin-700.ttf),
    url(../fonts/montserrat-v13-latin/montserrat-v13-latin-700.woff),
    url(../fonts/montserrat-v13-latin/montserrat-v13-latin-700.woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url(../fonts/montserrat-v13-latin/montserrat-v13-latin-800.eot),
    url(../fonts/montserrat-v13-latin/montserrat-v13-latin-800.svg),
    url(../fonts/montserrat-v13-latin/montserrat-v13-latin-800.ttf),
    url(../fonts/montserrat-v13-latin/montserrat-v13-latin-800.eot),
    url(../fonts/montserrat-v13-latin/montserrat-v13-latin-800.woff2);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Kaush';
  src: url(../fonts/kaushan-script-v7-latin/kaushan-script-v7-latin-regular.eot),
    url(../fonts/kaushan-script-v7-latin/kaushan-script-v7-latin-regular.svg),
    url(../fonts/kaushan-script-v7-latin/kaushan-script-v7-latin-regular.ttf),
    url(../fonts/kaushan-script-v7-latin/kaushan-script-v7-latin-regular.woff),
    url(../fonts/kaushan-script-v7-latin/kaushan-script-v7-latin-regular.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto-v19-latin/roboto-v19-latin-regular.eot),
    url(../fonts/roboto-v19-latin/roboto-v19-latin-regular.svg),
    url(../fonts/roboto-v19-latin/roboto-v19-latin-regular.ttf),
    url(../fonts/roboto-v19-latin/roboto-v19-latin-regular.woff),
    url(../fonts/roboto-v19-latin/roboto-v19-latin-regular.woff2);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto-v19-latin/roboto-v19-latin-700.eot),
    url(../fonts/roboto-v19-latin/roboto-v19-latin-700.svg),
    url(../fonts/roboto-v19-latin/roboto-v19-latin-700.ttf),
    url(../fonts/roboto-v19-latin/roboto-v19-latin-700.woff),
    url(../fonts/roboto-v19-latin/roboto-v19-latin-700.woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto-v19-latin/roboto-v19-latin-italic.eot),
    url(../fonts/roboto-v19-latin/roboto-v19-latin-italic.svg),
    url(../fonts/roboto-v19-latin/roboto-v19-latin-italic.ttf),
    url(../fonts/roboto-v19-latin/roboto-v19-latin-italic.woff),
    url(../fonts/roboto-v19-latin/roboto-v19-latin-italic.woff2);
  font-weight: normal;
  font-style: italic;
}
