$color-white: rgb(255, 255, 255);
$color-dark:  rgb(51, 51, 51);
$color-grey:  rgb(153, 153, 153);
$gradient: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
$color-yellow:  rgb(252, 227, 138);
$color-red: rgba(243, 129, 129, 0.384);
$color-green: rgb(79, 228, 198);
$color-border: rgb(231, 231, 231);
$colorspan: rgb(255, 0, 0);
